
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p align="right">@Html.ActionLink("LogOff", "LogOff", "Account", null, new { @class = "btn btn-primary" })</p>
<p>@Html.ActionLink("Personal Info", "Edit", "Account", null, new { @class = "btn btn-primary" })</p>